In [1]:
#predicting revenue potential from each customer

In [2]:
import pandas as pd
import numpy as np

bd_train = pd.read_csv('rg_train.csv')
bd_test = pd.read_csv('rg_test.csv')

In [3]:
bd_train.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,7.49,2.48,0.0,2,Female,South West,65.87,9.27,30.93,87.48
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,3.99,0.0,2,Female,Unknown,42.46,4.49,26.23,110.73
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.0,2,Male,East Anglia,75.38,0.00,26.66,127.57
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,2.00,0.00,0.0,2,Female,North West,34.78,6.91,29.24,33.79
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,0.0,2,Female,South West,48.58,9.58,20.65,56.17

In [4]:
bd_train['Revenue.Grid'].value_counts()

2    7261
1     863
Name: Revenue.Grid, dtype: int64

In [5]:
bd_test['Revenue.Grid'] = np.nan
bd_train['data'] = 'train'
bd_test['data'] = 'test'
bd_test = bd_test[bd_train.columns]
bd_all = pd.concat([bd_train, bd_test], axis=0)

In [6]:
bd_all.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance,data
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,2.48,0.0,2.0,Female,South West,65.87,9.27,30.93,87.48,train
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,3.99,0.0,2.0,Female,Unknown,42.46,4.49,26.23,110.73,train
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.0,2.0,Male,East Anglia,75.38,0.00,26.66,127.57,train
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.0,2.0,Female,North West,34.78,6.91,29.24,33.79,train
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.0,2.0,Female,South West,48.58,9.58,20.65,56.17,train

In [7]:
bd_all.dtypes

REF_NO                               int64
children                            object
age_band                            object
status                              object
occupation                          object
occupation_partner                  object
home_status                         object
family_income                       object
self_employed                       object
self_employed_partner               object
year_last_moved                      int64
TVarea                              object
post_code                           object
post_area                           object
Average.Credit.Card.Transaction    float64
Balance.Transfer                   float64
Term.Deposit                       float64
Life.Insurance                     float64
Medical.Insurance                  float64
Average.A.C.Balance                float64
Personal.Loan                      float64
Investment.in.Mutual.Fund          float64
Investment.Tax.Saving.Bond         float64
Home.Loan                          float64
Online.Purchase.Amount             float64
Revenue.Grid                       float64
gender                              object
region                              object
Investment.in.Commudity            float64
Investment.in.Equity               float64
Investment.in.Derivative           float64
Portfolio.Balance                  float64
data                                object
dtype: object

In [8]:
bd_all['Revenue.Grid'].value_counts()

2.0    7261
1.0     863
Name: Revenue.Grid, dtype: int64

In [9]:
bd_all['children'].value_counts()

Zero    6208
1       1848
2       1607
3        473
4+        19
Name: children, dtype: int64

In [10]:
bd_all['age_band'].value_counts()

45-50      1359
36-40      1134
41-45      1112
31-35      1061
51-55      1052
55-60      1047
26-30       927
61-65       881
65-70       598
22-25       456
71+         410
18-21        63
Unknown      55
Name: age_band, dtype: int64

In [11]:
#REF_NO, post_code, post_area : drop
#children : convert to numeric
#age_band, status, occupation, occupation_partner,home_status,family_income,TVarea, region, gender : dummies
#Revenue Grid (1, 2) : (1,0)

In [12]:
bd_all.drop(['REF_NO', 'post_code', 'post_area'], axis = 1, inplace=True)

In [13]:
bd_all['children'] = bd_all['children'].map({'Zero':0, '4+':4, '1': 1,'2': 2,'3': 3})
bd_all['children']= pd.to_numeric(bd_all['children'], errors = 'coerce')

In [14]:
bd_all['children'].head()

0    1
1    1
2    3
3    0
4    2
Name: children, dtype: int64

In [15]:
bd_all['Revenue.Grid'] = (bd_all['Revenue.Grid']==1).astype(int)

In [16]:
bd_all['Revenue.Grid'].value_counts()

0    9292
1     863
Name: Revenue.Grid, dtype: int64

In [17]:
cat_vars = bd_all.select_dtypes(['object']).columns
cat_vars

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'family_income', 'self_employed', 'self_employed_partner', 'TVarea',
       'gender', 'region', 'data'],
      dtype='object')

In [18]:
for col in cat_vars[:-1]:
    dummy = pd.get_dummies(bd_all[col],  drop_first=True, prefix=col)
    bd_all= pd.concat([bd_all,dummy], axis=1)
    del bd_all[col]
    print(col)
del dummy

age_band
status
occupation
occupation_partner
home_status
family_income
self_employed
self_employed_partner
TVarea
gender
region

In [19]:
bd_train = bd_all[bd_all['data']=='train']
del bd_train['data']
bd_test = bd_all[bd_all['data']=='test']
bd_test.drop(['Revenue.Grid','data'], axis=1, inplace = True)

/home/glenshel/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
params = {'class_weight' : ['balanced', None],
          'penalty' : ['l1', 'l2'],
           'C' : np.linspace(0.1, 100, 10)}

In [22]:
model = LogisticRegression()

In [23]:
x_train = bd_train.drop(['Revenue.Grid'], axis= 1)
y_train = bd_train['Revenue.Grid']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(x_train, y_train, test_size = 0.3, random_state = 5)

In [26]:
lr = model.fit(X_train, Y_train)

/home/glenshel/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [27]:
predict_lr = lr.predict(X_test)

In [28]:
predict_lr.shape, Y_test.shape

((2438,), (2438,))

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, predict_lr)

In [30]:
cm

array([[2150,   43],
       [  94,  151]])

In [31]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(Y_test, predict_lr)
accuracy

0.9438063986874488

In [32]:
from sklearn.model_selection import GridSearchCV

In [33]:
grid_search = GridSearchCV(model, param_grid=params, cv = 5, n_jobs=-1, scoring = 'accuracy')

In [34]:
grid_search.fit(X_train, Y_train)

/home/glenshel/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=100, multi_class='warn',
                                          n_jobs=None, penalty='l2',
                                          random_state=None, solver='warn',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': array([  0.1,  11.2,  22.3,  33.4,  44.5,  55.6,  66.7,  77.8,  88.9,
       100. ]),
                         'class_weight': ['balanced', None],
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [35]:
grid_search.best_score_

0.9456559971860711

In [36]:
grid_search.best_params_

{'C': 0.1, 'class_weight': None, 'penalty': 'l1'}

In [38]:
grid_lr = grid_search.predict(X_test)
grid_accuracy = accuracy_score(Y_test, grid_lr)
grid_accuracy

0.9446267432321575